trix-editor {
  margin-top: 10px;
  height: 80vh;
  overflow-y: auto;
  border: 1px solid #ccc;
}
trix-editor:focus {
  outline: none;
}

.trix-dialogs {
  position: relative;
}

.trix-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 10px;
  background: #fff;
  box-shadow: 0 0.3em 1em #ccc;
  border-top: 2px solid #888;
  border-radius: 5px;
  z-index: 5;
}

.trix-input--dialog {
  font-size: inherit;
  font-weight: normal;
  padding: 0.5em 0.8em;
  margin: 0 10px 0 0;
  border-radius: 3px;
  border: 1px solid #bbb;
  background-color: #fff;
  box-shadow: none;
  outline: none;

  &.validate:invalid {
    box-shadow: #f00 0px 0px 1.5px 1px;
  }
}

.trix-button--dialog {
  font-size: inherit;
  padding: 0.5em;
  border-bottom: none;
}

.trix-dialog--link {
  max-width: 600px;
}

.trix-dialog__link-fields {
  display: flex;
  align-items: baseline;

  .trix-input {
    flex: 1;
  }

  .trix-button-group {
    flex: 0 0 content;
    margin: 0;
  }
}
